body {
    background-color: whitesmoke;
}

h1 {
    color: darkblue;
    text-align: center;
}

canvas {
    width: 40%;
    height: 20%;
    margin: 8px;
    border: 1px solid rgb(226, 226, 226);
}

div {
    margin: 8px;
    padding: 5px;
}
